@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

h1 {
    margin: 2rem;
    font-family: "Prompt";
    font-size: 48px;
}

#chart {
    margin: 1rem;
}

label {
    margin-left: 1rem;
    margin-right: 0.3rem;
}

body{
    background-color: rgb(233, 233, 233);
}